<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wacom.musicservice"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.wacom.musicservice.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.wacom.musicservice.MusicService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver
            android:name="com.wacom.musicservice.HeadphonesBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.media.SCO_AUDIO_STATE_CHANGED" />
                <action android:name="android.media.ACTION_SCO_AUDIO_STATE_UPDATED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.wacom.musicservice.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
    </application>

</manifest>